<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}{{ config['site-name'] }}|| Dashboard{% endblock %}</title>

    {# Global CSS #}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/{{config['dashboard-bootswatch']}}/bootstrap.min.css" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/lity/2.2.2/lity.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.6/sweetalert2.min.css" rel="stylesheet">

    {# Page Level CSS #}
    {% block stylesheets %}{% endblock %}

    {# Custom CSS #}
    <link href="{{ asset('dashboard/css/custom.min.css') }}" rel="stylesheet">

    {# HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries #}
    {# WARNING: Respond.js doesn't work if you view the page via file:// #}
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    {# Google Analytics #}
    {% if config.ga is not empty %}
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', '{{ config.ga }}', 'auto');
    ga('send', 'pageview');
    {% if auth.user %}ga('set', 'userId', {{auth.user.id}});{% endif %}
    </script>
    {% endif %}
</head>

<body>

    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            {% include 'inc/sidebar.twig' %}
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                {% include 'inc/flash.twig' %}
                {% block body %}{% endblock %}
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>

    {# Navigation #}
    {% include 'inc/navi.twig' %}

    {# Media Manager Modal #}
    <div class="modal fade" id="media-modal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body" id="media-modal-body" style="padding: 0px; height: 500px; overflow-y: auto;"></div>
            </div>
        </div>
    </div>

    {# Global JS #}
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lity/2.2.2/lity.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.6/sweetalert2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.7.5/jquery.nicescroll.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.7.1/clipboard.min.js"></script>
    <script src="{{ asset('_global/js/functions.js') }}"></script>

    {# Jquery CSRF #}
    <script src="{{ asset('_global/js/csrf.min.js') }}"></script>
    <script type="text/javascript">DappurCSRF.csrfUrl = "/csrf";</script>

    {# Custom JS #}
    <script src="{{ asset('dashboard/js/custom.min.js') }}"></script>

    {# Load Cloudinary if Enabled #}
    {% if hasCloudinary and auth.hasAccess('media.cloudinary') %}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/json2/20160511/json2.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/easyXDM/2.4.20/easyXDM.min.js"></script>
    <script src="{{ asset('dashboard/js/cloudinary/cloudinary.min.js') }}"></script>
    <script type="text/javascript">DappurCloudinary.cmsUrl = "{{cloudinaryCmsUrl}}";</script>
    {% endif %}

    {# Load Media Manager #}
    {% if auth.hasAccess('media.local') %}
    <script src="{{ asset('dashboard/js/media.min.js') }}"></script>
    <script type="text/javascript">DappurMedia.managerUrl = "{{path_for('admin-media')}}";</script>
    {% endif %}
    
    {# Page Level JS #}
    {% block javascript %}{% endblock %}

</body>

</html>
