{% extends 'base.twig' %}

{% block title %}{{config['site-name']}} || User Management{% endblock %}

{% block stylesheets %}
<link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet">
<link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Emails <small>Overview</small>
                </h1>
                <ol class="breadcrumb">
                    <li>
                        <i class="fa fa-dashboard"></i> Dashboard
                    </li>
                    <li class="active">
                        <i class="fa fa-envelope"></i> Emails
                    </li>
                </ol>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <div>Emails </div>
                        {# REMOVED FOR NOW
                        <div class="pull-right"><a href="{{ path_for('admin-email-new') }}" class="btn btn-xs btn-success"><span class="fa fa-fw fa-plus"></span> Send Email</a></div>
                        <div style="clear: both;"></div>
                        #}
                    </div>

                    <div class="panel-body">
                        <table width="100%" class="table table-striped table-bordered table-hover" id="emails_table">
                            <thead>
                                <tr>
                                    <th>Sent At</th>
                                    <th>Subject</th>
                                    <th>Send To</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for email in emails %}
                                    <tr>
                                        <td>{{ email.created_at }}</td>
                                        <td>{{ email.subject }}</td>
                                        <td>{{ email.send_to }}</td>
                                        <td>
                                            {% if auth.hasAccess('email.view') %}
                                            <a href="{{ path_for('admin-email-details', {'email': email.id}) }}" class="btn btn-primary btn-xs">
                                                <span class="fa fa-fw fa-eye"></span>
                                            </a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.1.1/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.1.1/js/responsive.bootstrap.min.js"></script>

<!-- Page-Level Demo Scripts - Tables - Use for reference -->
<script>
$(document).ready(function() {
    
    $('#emails_table').DataTable({
        responsive: true,
        stateSave: true

    });
});
</script>
{% endblock %}