<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button class="navbar-toggle" id="navbar-toggle" data-target="#wrapper" type="button"><span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span><span class="icon-bar"></span> <span class="icon-bar"></span></button> 
            <a class="navbar-brand" href="{{path_for('home')}}" style="padding: 5px 10px; margin: 0px;">
                <img src="{{config['logo']}}" class="img-responsive" alt="Image" style="height: 100%;">
            </a>
        </div>
        <div class="navbar-collapse collapse" style="margin: 0px;">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden-xs{% if currentRoute starts with '/dashboard/my-account' %}active{% endif %}" style="margin-right: 0px;">
                    <a href="{{ path_for('my-account') }}"><i class="fa fa-gear fa-fw"></i> My Account</a>
                </li>
                <li class="hidden-xs" style="margin-right: 0px;">
                    <a href="{{ path_for('logout') }}"><i class="fa fa-power-off fa-fw"></i> Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>