<ul class="nav nav-sidebar">
    <li {% if currentRoute == '/dashboard' %}class="active"{% endif %}>
        <a href="{{ path_for('dashboard')}}"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
    </li>

    {% if auth.hasAccess('user.view') %}
    <li {% if currentRoute starts with '/dashboard/users' %}class="active"{% endif %}>
        <a href="{{ path_for('admin-users')}}"><i class="fa fa-fw fa-users"></i> Users</a>
    </li>
    {% endif %}

    {% if auth.hasAccess('email.view') %}
    <li>
        <a href="javascript:;" data-toggle="collapse" data-target="#email-menu"><i class="fa fa-fw fa-envelope"></i> Emails <i class="fa fa-fw fa-caret-down"></i></a>
        <ul id="email-menu" class="collapse {% if currentRoute starts with '/dashboard/email' %}in{% endif %} nav">
            <li  {% if currentRoute == '/dashboard/email' %}class="active"{% endif %}>
                <a href="{{ path_for('admin-email')}}"><i class="fa fa-envelope fa-fw"></i> Sent Emails</a>
            </li>
            {% if auth.hasAccess('email.templates.view') %}
                <li  {% if currentRoute starts with '/dashboard/email/templates' %}class="active"{% endif %}>
                    <a href="{{ path_for('admin-email-template')}}"><i class="fa fa-envelope fa-fw"></i> Templates</a>
                </li>
            {% endif %}
        </ul>
    </li>
    {% endif %}

    {% if auth.hasAccess('media.local') %}
    <li {% if currentRoute starts with '/dashboard/media' %}class="active"{% endif %}>
        <a style="cursor: pointer;" id="media-menu"><i class="fa fa-cloud fa-fw"></i> Local CMS</a>
    </li>
    {% endif %}

    {% if hasCloudinary and auth.hasAccess('media.cloudinary') %}
    <li>
        <a style="cursor: pointer;" id="cloudinary-menu"><i class="fa fa-cloud fa-fw"></i> Cloudinary CMS</a>
    </li>
    {% endif %}

    {% if auth.hasAccess('settings.view') %}
    <li {% if currentRoute starts with '/dashboard/settings' %}class="active"{% endif %}>
        <a href="{{ path_for('settings-global')}}"><i class="fa fa-cogs fa-fw"></i> Settings</a>
    </li>
    {% endif %}

    {% if auth.hasAccess('developer.view') %}
    <li>
        <a href="javascript:;" data-toggle="collapse" data-target="#developer-tools-menu"><i class="fa fa-fw fa-wrench"></i> Developer Tools <i class="fa fa-fw fa-caret-down"></i></a>
        <ul id="developer-tools-menu" class="collapse {% if currentRoute starts with '/dashboard/developer/settings' %}in{% endif %} nav">
            {% if auth.hasAccess('settings.developer.view') %}
                <li class="active">
                    <a href="{{ path_for('settings-developer')}}"><i class="fa fa-life-ring fa-fw"></i> Edit settings.json</a>
                </li>
            {% endif %}
        </ul>
    </li>
    {% endif %}

    <li class="nav-divider visible-xs"></li>

    <li class="visible-xs{% if currentRoute starts with '/dashboard/my-account' %}active{% endif %}" style="margin-right: 0px;">
        <a href="{{ path_for('my-account') }}"><i class="fa fa-gear fa-fw"></i> My Account</a>
    </li>
    <li class="visible-xs" style="margin-right: 0px;">
        <a href="{{ path_for('logout') }}"><i class="fa fa-power-off fa-fw"></i> Logout</a>
    </li>
</ul>
